body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  div.first {
      font-family: 'Times New Roman', Times, serif;
  }

  div.greek {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      background-color: bisque;
  }

  div.roman {
      font-family: 'Times New Roman', Times, serif;
  }

  div.greektitle {
    border-radius: 1px;
  }

  div.greektext {
    background-color: #D3D3D3;
  }

  div.romantitle {
    background-color: #8b0000;
  }

  div.romantext {
    border-radius: 2px;
    border-color: #000000
  }

  #romanfacts {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
  }

  a.mythlist:hover {
    color: darkmagenta;
  }

  ul.unlist {
    background-color: dimgray;
  }

  #unlist {
    background-color: lightblue;
  }