body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  div.first {
      font-family: 'Times New Roman', Times, serif;
  }

  div.greek {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      background-color: bisque;
  }

  div.roman {
      font-family: 'Times New Roman', Times, serif;
  }